/*  Base Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
  background: url(/FM-social-proof-section/images/bg-pattern-top-desktop.svg)
      no-repeat,
    url(/FM-social-proof-section/images/bg-pattern-bottom-desktop.svg) no-repeat
      50vw 50vh;
}

/* Card Style */
.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* Rating Blocks */

.rating-container {
  display: flex;
  position: relative;
  height: 400px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.rating-10k {
  margin: 2rem 10rem 0rem 10rem;
  flex: 1 1 40rem;
}

.rating-10k-header {
  font-size: 8rem;
}
.rating-5star {
  flex: 1 1 40rem;
  display: flex;
  flex-direction: column;
  margin: 2rem 10rem 0rem 10rem;
  justify-content: space-between;
  position: relative;
  top: 20px;
}

.rating-5star-header {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

#rating-one {
  position: relative;
  left: -15px;
}

#rating-three {
  position: relative;
  left: 15px;
}

/* Comment Blocks */

.comment-container {
  display: flex;
  position: relative;
  height: 400px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.comment-block {
  width: 350px;
  height: 235px;
  background-color: hsl(300, 43%, 22%);
  justify-content: center;
  margin: 2rem;
  border-radius: 2rem;
  align-items: center;
}

#comment-one {
  position: relative;
  top: -10px;
}

#comment-three {
  position: relative;
  top: 10px;
}
